#bigBox{
  display: flex;
}
#canvas{
  height: 600px;
  width: 600px;
  display: flex;
  border: 1px solid black;
}
.boxes{
  height: 10px;
  width: 10px;
  border: 1px solid black;
}
#colors{
  height: 600px;
  width: 192px;
  display: flex;
  border: 1px solid black;
}
.colorBoxes{
  height: 50px;
  width: 48px;
}
